 <%= data[0].name %>
<p class="line line1">
  <span class="line-left">
    电话：<%= data[0].tele %>
  </span>
  地址：<%= data[0].address %>
</p>
<p class="line line2">
  <span class="line-left">
    手机：<%= data[0].iphone %>
  </span>
  邮编：<%= data[0].zip %>
</p>
<p class="line line3">
  <span class="line-left">
    邮箱：<%= data[0].mail %>
  </span>
  传真：<%= data[0].fax %>
</p>