<h1 class="head-title"><%= title %></h1>
<p class="time-left"><%= timeFormat(t) %></p>
<p class="topic"><%= title %></p>
<p class="time-right"><%= timeFormat(t) %></p>
<article class="article">
  <%= content %>
</article>
<div class="page-box J_pageBox"></div>