 <%= data.name %>
<p class="line line1">
  <span class="line-left">
    电话：<%= data.tele %>
  </span>
  地址：<%= data.address %>
</p>
<p class="line line2">
  <span class="line-left">
    手机：<%= data.iphone %>
  </span>
  邮编：<%= data.zip %>
</p>
<p class="line line3">
  <span class="line-left">
    邮箱：<%= data.mail %>
  </span>
  传真：<%= data.fax %>
</p>